body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 120vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mr-auto {
  margin-left: auto;
}

.headings {
  text-align: center;
  margin-top: 2rem;
}

.container-centered {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options-container {
  width: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sellers-page-container {
  width: 100vw;
  /* height: 150vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
}

.sellers-main-container {
  border: 2px solid rgb(202, 138, 138);
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sellers-container {
  border: 2px solid rgb(150, 25, 25);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sellers-main-message-container {
  width: 100%;
  height: 30%;
  /* border: 2px solid grey; */
}

.sellers-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 2px solid grey;
  width: 80%;
  height: 110%;
}

.sellers-main-picture {
  height: 70%;
  object-fit: fill;
}

.car-details-image {
  width: 90%;
  height: 70%;
  object-fit: cover;
}

/* .fake-pic-card {
  margin: 10px;
  width: 95%;
  height: 50%;
  border: 2px solid grey;
} */
.col-md-2 {
  margin: 1rem;
}
